body {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 10.5pt;
    color: #000;
    background: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 18px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 18px;
}

.block {
    padding: 0 20px;
}

.block.gray {
    background: #f6f8f9;
}

.fa-ruble-sign {
    font-size: 75%;
}

.wrapper {
    position: relative;
    max-width: 1300px;
    min-width: 700px;
    margin: 0 auto;
}

.panel {
    background: #ffffff;
    padding: 25px 30px;
}

#header {
    /*background: #292929;*/
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
}

#header {
    background: rgba(32, 32, 32, 0.9);
    box-shadow: 0 0 15px rgba(21, 21, 21, 0.6);
}

#header .wrapper {
    height: 68px;
    padding: 0 0 0 220px;
}

#header .logo {
    position: absolute;
    left: 0;
    top: 16px;
    background: url(../images/logo.png);
    width: 142px;
    height: 36px;
}

#header .nav {

}

#header .nav li {
    float: left;
    margin-right: 26px;
}

#header .nav li a {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    display: block;
    height: 68px;
    line-height: 68px;
    font-family: 'Merriweather', serif;
}

#header .nav li a:before,
#header .nav li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background: #fcd829;
    width: 0;
    transition: all ease .3s;
}

#header .nav li a:before {
    right: 50%;
}

#header .nav li a:after {
    left: 50%;
}

#header .nav li:hover a:before,
#header .nav li:hover a:after {
    width: 50%;
}

#header .nav li:hover a {

}

#header .nav li:hover a {
}

#header .contacts {
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    text-align: right;
}

#header .contacts .phone {
    font-size: 16px;
    font-weight: 600;
}

#header .contacts .email {
    font-size: 14px;
}

.header-block {
    position: relative;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
    padding: 0;
}

.header-block * {
    position: relative;
}

.header-block .bg {
    position: relative;
}

.header-block .bg img {
    display: block;
}

.header-block .bg:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.header-block .box {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -350px;
    color: #ffffff;
    width: 700px;
    text-align: center;
}

.header-block h1 {
    font-size: 55px;
    font-weight: 900;
    text-shadow: 0 4px 0 rgba(0,0,0,0.8);
    font-family: Merriweather, serif;
    font-style: italic;
}

.header-block .desc {
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(0,0,0,0.8);
}

#container {
    /*background: #f5f5f5;*/
}

.main-block-1 {
    position: relative;
    background: url("../images/main-bg.jpg") 50% 50%;
    height: 980px;
}

.main-block-1 {
    position: relative;
    background: url("../images/main-bg.jpg") 50% 50%;
    height: 850px;
}

.main-block-1 .video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.main-block-1 .video:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.45);
}

.main-block-1 .wrapper {
    padding-top: 250px;
    z-index: 1;
}

.main-block-1 h1 {
    text-shadow: 0 3px 0 #000;
    width: 770px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.main-block-1 .menu {
    text-align: center;
    margin-top: 30px;
}

.main-block-1 .menu .btn {
    border-radius: 99px;
    font-size: 20px;
    padding: 0 30px 0 30px;
    color: #2e363e;
    font-weight: 400;
    margin: 0 6px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.9);
}

.main-block-1 .tags {
    margin: 180px auto 0 auto;
    max-width: 970px;
    text-align: center;
}

.main-block-1 .tags .btn {
    height: 35px;
    line-height: 35px;
    background: none;
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 99px;
    margin: 0 10px 20px 0;
}

.main-block-1 .tags .btn:hover {
    box-shadow: 0 0 5px rgba(245, 215, 110, 0.9);
    box-shadow: 0 0 5px rgba(245, 215, 110, 0.9);
    border-color: rgba(245, 215, 110, 0.9);
    color: #f5d76e;
}

.main-block {

}

.main-block .header {
    text-align: center;
    margin-bottom: 50px;
}

.main-block .header h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 8px;
    font-family: 'Merriweather', serif;
}

.main-block .header .separ {
    position: relative;
    background: url(../images/header-icon.png) 50% 50% no-repeat;
    height: 29px;
    width: 400px;
    margin: 0 auto 10px auto;
}

.main-block .header .separ:after,
.main-block .header .separ:before {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 162px;
    background: #3e3e3e;
}

.main-block .header .separ:before {
    left: 0;
}

.main-block .header .separ:after {
    right: 0;
}

.main-block .header .notice{
    color: #696969;
    max-width: 600px;
    margin: 0 auto;
}
.main-block-2 {
    background: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 40px;
}

.main-block-2 .menu {

}

.main-block-2 .menu .item {
    overflow: hidden;
    position: relative;
    display: block;
    float: left;
    margin-left: 1.5%;
    width: 15.41%;
}

.main-block-2 .menu .item:after {
    content: '';
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.main-block-2 .menu .item .desc {
    position: absolute;
    z-index: 2;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 130px;
    border-top: 2px solid #fff;
    text-align: center;
    padding-top: 24px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 29px;
    color: #ffffff;
}

.main-block-2 .menu .item:first-child {
    margin-left: 0;
}
.main-block-2 .menu .item img {
    transition: all ease .2s;
}

.main-block-2 .menu .item:hover img {
    transform: scale(1.1);
}

/*

.main-block-2 .item {
    padding-bottom: 20px;
}*/

.main-block-3 {
    position: relative;
}

.main-block-3 .notice {
    position: absolute;
    left: 25%;
    top: 40%;
    background: #f5cd42;
    padding: 20px;
    width: 660px;
    margin: -65px 0 0 -330px;
}

.main-block-3 .notice .title {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.main-block-3 .notice .desc {
    font-size: 18px;
}

.main-block-3 {

}

.main-block-3 {

}

.main-block-4 .col-l,
.main-block-4 .col-r {
    float: left;
    width: 50%;
    height: 440px;
    position: relative;
}


.main-block-4 .col-l .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main-block-4 .owl-nav .owl-prev,
.main-block-4 .owl-nav .owl-next {
    position: absolute;
    top: 90px;
    background: url(../images/arrs.png) !important;
    width: 25px;
    height: 81px;
    cursor: pointer;
    display: block;
}

.main-block-4 .owl-nav .owl-prev {
    left: -60px;
}

.main-block-4 .owl-nav .owl-next {
    background-position: -25px 0 !important;
    right: -60px;
}

.main-block-4 .col-l {
    background: url(../images/mb4-bg.png) 50% 50%;
    color: #ffffff;
    text-align: center;
    padding: 55px 100px 10px 100px;
}

.main-block-4 .col-r {
    background: url(../images/main-bg.jpg) 50% 50%;
    background-size: cover;
}

.main-block-4 .header {
    display: inline-block;
    background: #e4ba26;
    margin-bottom: 22px;
    font-size: 36px;
    font-weight: 300;
    padding: 4px 4px;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.main-block-4 .reviews {
    max-width: 730px;
    margin: 0 auto;
}

.main-block-4 .review {
    position: relative;
    padding: 0 30px;
    min-height: 255px;
}

.main-block-4 .name {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 6px;
}

.main-block-4 .stars {
    margin-bottom: 10px;
}

.main-block-4 .stars svg {
    color: #f8cb26;
}

.main-block-4 .text {
    margin: 0 auto;
    max-width: 665px;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
}
/*
.main-block-4 .name {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 300;
}
*/
.museum-map-info {
    width: 400px;
}

.museum-map-info .col-left {
    width: 125px;
    float: left;
}

.museum-map-info .col-right {
    margin-left: 135px;
}

.museum-map-info .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.museum-map-info .desc {
    font-size: 13px;
    margin-bottom: 10px;
}

.museum-map-info img {
    float: left;
    display: block;
    margin: 0 0 10px 0;
    width: 125px;
}

.museum-map-info .btns {
}

.museum-map-info .btn {
    height: 22px;
    padding: 0 6px;
    line-height: 22px;
    font-size: 13px;
}

.items-list {

}

.items-list.items-4 .item {
    position: relative;
    float: left;
    margin-bottom: 40px;
}

.items-list.items-3 .item {
    width: 32%;
    margin-right: 2%;
}

.items-list.items-4 .item {
    width: 23.5%;
    margin-right: 2%;
}

.items-list .item :nth-child(4n){
    margin-right: 0;
}

.items-list .item .pic {
    height: 80%;
    display: block;
    overflow: hidden;
}

.items-list .item img {
    display: block;
    transition: all ease .2s;
}

.items-list .item:hover img {
    transform: scale(1.1);
}

.items-list .item .info {
    position: relative;
    width: 100%;
    left: 0;
    top: -29px;
    margin-bottom: -29px;
    display: block;
    padding: 6px 15px;
    background: rgba(32, 32, 32, 0.9);
    color: #ffffff;
}

.items-list .item .info .row {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
}

.items-list .item .desc {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    padding: 12px 15px 22px 15px;
}

.items-list .item .name {
    display: block;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    border-bottom: 3px solid #ffdd00;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 1.2;
    height: 57px;
    overflow: hidden;
}

.items-list .item .preview  {
    overflow: hidden;
    height: 85px;

}

.items-list .item .btns {
    text-align: center;
    margin-top: 25px;
}

.items-list .item .btn {
    position: relative;
    width: 110px;
    padding: 0;
    line-height: 32px;
    height: 32px;
    top: 0;
    transition: all ease .2s;
}

.items-list .item .btn:hover {
    background: none;
    color: #000000;
}

.items-list .item .btn:first-child {
    border-radius: 16px 0 0 16px;
    margin-right: 4px;
}

.items-list .item .btn:last-child {
    border-radius: 0 16px 16px 0;
}

.items-list .item .time {
    position: absolute;
    right: 15px;
    top: 34px;
}

.excursions-block {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 375px;
}

.excursions-block .col-left {
    width: 355px;
    margin-left: -355px;
    padding-right: 35px;
    float: left;
}

.excursions-block .col-right {
    width: 100%;
    float: left;
}

.excursions-block {

}

.excursions-block .widget {
    background: #ffffff;
    padding: 20px;
}

.excursions-block .widget .header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.excursions-block .widget .body {

}

.excursions-block .widget label {
    margin-bottom: 7px;
}

.excursions-block .widget .h-box {
    display: none;
}

.excursions-block .widget .show-all {
    color: #006ecc;
    cursor: pointer;
}

.excursions-block .widget .links a {
    border-bottom: 1px solid #bfbfbf;
    display: inline-block;
    margin: 0 10px 5px 0;
    transition: all ease .2s;
    box-shadow: inset 0 0 0 #e3e3e3;
}

.excursions-block .widget .links a:hover {
    box-shadow: inset 0 -20px 0 #e3e3e3;
}

.excursions-block .widget .links a.active,
.excursions-block .widget .links a.active:hover {
    box-shadow: inset 0 -20px 0 #ffdd00;
}

.excursions-block .widget.calc {
    background: #ffdd00;
    padding: 20px;
}

.excursions-block .widget.calc .row {
    margin-bottom: 12px;
}

.excursions-block .widget.calc .row .col {
}

.excursions-block .widget.calc .label {
    margin-bottom: 6px;
    color: #3c3c3c;
}

.excursions-block .widget.calc .element {
    color: #000;
    background: #ffffff;
}

.excursions-block .widget.calc .element select,
.excursions-block .widget.calc .element input {
    height: 30px;
    width: 100%;
    background: none;
    border: none;
    padding: 0 8px;
    font-size: 14px;
}

.excursions-block .widget.calc .element.std-counter {
    height: 30px;
    padding: 0;
    background: #ffffff;
}

.excursions-block .widget.calc .element .datepicker {
    background-image: url(../images/calendar.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.about-block {
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 350px;
}

.about-block .col-l {
    width: 300px;
    margin-left: -330px;
    float: left;
    text-align: center;
}

.about-block .col-r {
    float: left;
}

.about-block .link {
    margin-top: 10px;
    text-align: center;
}

.std-container-right {
    padding-right: 350px;
}

.std-container-right .col-l {
    float: left;
}

.std-container-right .col-r {
    float: right;
    width: 295px;
    margin-right: -330px;
}

.items-list {

}

.items-list.items-3 .item {
    width: 32%;
    margin-right: 2%;
}

.items-list.items-4 .item {
    width: 23.125%;
    margin-right: 2.5%;
}

.items-list .item {
    position: relative;
    float: left;
    margin-bottom: 40px;
}

.items-list .item :nth-child(4n){
    margin-right: 0;
}

.items-list .item .pic {
    height: 80%;
    display: block;
    overflow: hidden;
}

.items-list .item img {
    display: block;
    transition: all ease .2s;
}

.items-list .item:hover img {
    transform: scale(1.1);
}

.items-list .item .info {
    position: relative;
    width: 100%;
    left: 0;
    top: -29px;
    margin-bottom: -29px;
    display: block;
    padding: 6px 15px;
    background: rgba(32, 32, 32, 0.9);
    color: #ffffff;
}

.items-list .item .info .row {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
}

.items-list .item .desc {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    padding: 12px 15px 22px 15px;
}

.items-list .item .name {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    border-bottom: 3px solid #ffdd00;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.items-list .item .btns {
    text-align: center;
    margin-top: 25px;
}

.items-list .item .btn {
    position: relative;
    width: 110px;
    padding: 0;
    line-height: 32px;
    height: 32px;
    top: 0;
    transition: all ease .2s;
}

.items-list .item .btn:hover {
    background: none;
    color: #000000;
}

.items-list .item .btn:first-child {
    border-radius: 16px 0 0 16px;
    margin-right: 4px;
}

.items-list .item .btn:last-child {
    border-radius: 0 16px 16px 0;
}

.items-list .item .time {
    position: absolute;
    right: 15px;
    top: 34px;
}

.museum-block {

}

.museum-block .desc-box {
    margin-bottom: 60px;
}

.museum-block {

}

.museum-block {

}

.excursion-block {
    padding-top: 30px;
    padding-bottom: 80px;
}

.excursion-block .desc-box h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.excursion-block .desc-box .std-text {

}

.excursion-block {
    padding-right: 350px;
}

.excursion-block .col-l {
    float: left;
    width: 100%;
}

.excursion-block .col-r {
    float: right;
    width: 295px;
    margin-right: -330px;
}

.excursion-block .attrs-list {
    margin-bottom: 45px;
}

.excursion-block .attrs-list a {
    color: #f85a1e;
}

.excursion-block .attrs-list > .row {
    position: relative;
    padding: 16px 20px 16px 385px;
    border-bottom: 1px solid #e8e8e8;
    color: #595959;
    font-size: 15px;
}

.excursion-block .attrs-list > .row:first-child {
    border-top: 1px solid #e8e8e8;
}

.excursion-block .attrs-list .label {
    position: absolute;
    left: 20px;
    width: 330px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.excursion-block .attrs-list .row .row {
    font-size: 14px;
    margin-bottom: 4px;
}

.excursion-block .attrs-list .row .row svg {
    color: #f85a1e;
    font-size: 17px;
    margin-right: 6px;
}

.excursion-block .excursion-form {
    background: url(../images/calc-bg.png);
}

.excursion-block .excursion-form .header {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

.excursion-block .excursion-form .element select,
.excursion-block .excursion-form .element input {
    border: 2px solid #e7e7e7 ;
}

.excursion-block .excursion-form .btns {
    margin-top: 20px;
}

.excursion-block .excursion-form .btns .btn {
    width: 100%;
}

.excursion-block .excursion-form .price-box {
    text-align: center;
}

.excursion-block .excursion-form .price-box .price {
    font-size: 21px;
    font-weight: 700;
}

.excursion-block .excursion-form .price-box .notice {
    font-size: 13px;
}

.excursion-block .excursion-form .price-box {

}

.excursion-block .gallery {
    margin-bottom: 45px;
}

.excursion-block .gallery .pic {

}

.empty-list {
    margin: 30px 0 60px 0;
    color: #595959;
    font-size: 15px;
}

.comments .form {
    max-width: 700px;
}

.comments .form .std-input,
.comments .form .std-textarea {
    background: #f0f0f0 15px 18px no-repeat;
    height: 53px;
    padding: 0 20px 0 45px;
    border: none;
    font-size: 16px;
}

.comments .form .std-textarea {
    padding-top: 18px;
    padding-bottom: 14px;
    height: 105px;
}

.comments .form .std-input,
.comments .form .std-textarea {
    background-image: url(../images/input-mail.png);
}

.comments .form .invalid .std-input,
.comments .form .invalid .std-textarea {
    background-color: #ffc5c5;
}

.comments .form .invalid .errors {
    display: none;
}

.comments .form .row {
    margin-bottom: 14px;
}

.comments .form .btn {
    min-width: 165px;
}

.comments .form .notice {
    display: inline-block;
    max-width: 350px;
    font-size: 15px;
    line-height: 1.4;
    padding: 0 0 0 15px;
    vertical-align: middle;
}

.comments .list {

}

.comments .comment {
    position: relative;
    padding-left: 160px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 2px dashed #e2e2e2;
}

.comments .comment:last-child {
    border-bottom: none;
}

.comments .comment .info {
    position: absolute;
    left: 0;
    top: 20px;
    width: 150px;
}

.comments .comment .info .name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.comments .comment .info .date {
    font-size: 14px;
    font-style: italic;
    color: #f85a1e;
}

.comments .comment .question {
    font-size: 14px;
    color: #525252;
}

.comments .comment .answer {
    margin-top: 14px;
    font-size: 14px;
    color: #000000;
    padding-left: 20px;
}

.comments .comment .answer .admin {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.comments .list {

}

.std-text {
    font-size: 15px;
}

.std-text p,
.std-text li {
    line-height: 1.6;
    font-size: 15px;
    color: #595959;
}

.std-text p {
    line-height: 1.6;
    margin-bottom: 16px;
}

.std-text ul {
    margin-bottom: 18px;
}

.std-text ul li {
    position: relative;
    padding-left: 17px;
    margin-bottom: 7px;
}

.std-text ul li:before {
    content: '';
    display: block;
    background: #fce12a;
    position: absolute;
    left: 2px;
    top: 9px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.excursion-form {
    padding: 20px;
}

.excursion-form .row {
    margin-bottom: 12px;
}

.excursion-form .row .col {
}

.excursion-form .label {
    margin-bottom: 6px;
    color: #3c3c3c;
}

.excursion-form .element {
    color: #000;
    background: #ffffff;
}

.excursion-form .element.invalid select,
.excursion-form .element.invalid input{
    background: #ffe0d7;
}

.excursion-form .element .errors {
    display: none;
}

.excursion-form .element select,
.excursion-form .element input {
    height: 30px;
    width: 100%;
    background: none;
    border: none;
    padding: 0 8px;
    font-size: 14px;
}

.excursion-form .element.std-counter {
    height: 30px;
    padding: 0;
    background: #ffffff;
}

.std-breadcrumbs {
    font-size: 13px;
    margin-bottom: 30px;
}

.std-breadcrumbs .item {
    position: relative;
    display: inline-block;
}

.std-breadcrumbs .item:last-child > span {
    color: #a3aaae;
}

.std-breadcrumbs .sep {
    display: inline-block;
    margin: 0 10px;
}

#footer {
    background: #181818;
    color: #ffffff;
}

#footer .wrapper {
    padding: 50px 360px 60px 515px;
}

#footer .about {
    position: absolute;
    left: 0;
    top: 35px;
    width: 435px;
}

#footer .logo {
    display: block;
    background: url(../images/logo.png);
    width: 203px;
    height: 60px;
    margin-bottom: 30px;
}

#footer .desc {
    color: #bdbdbd;
}

#footer .menu {

}

#footer .menu ul {
    float: left;
    margin-right: 65px;
}

#footer .menu li.title {
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 16px;
}

#footer .menu li {
    margin-bottom: 6px;
}

#footer .menu a {
    color: #bdbdbd;
}

#footer .contacts {
    position: absolute;
    right: 0;
    top: 65px;
    width: 345px;
}

#footer .contacts .row {
    padding-left: 35px;
    position: relative;
    margin-bottom: 15px;
    color: #bdbdbd;
}

#footer .contacts .row i {
    position: absolute;
    left: 0;
    top: 0;
    color: #fbc526;
}


.std-popup {
    background: #ffffff;
    width: 675px;
}

.std-popup .fancybox-close-small {
    top: 6px;
    right: 3px;
}

.std-popup .header {
    position: relative;
    padding: 14px 45px;
    font-family: 'Merriweather', serif;
    font-size: 19px;
    font-style: italic;
    background: #404040;
    color: #ffffff;
}

.std-popup .header svg {
    margin-right: 4px;
}

.std-popup .header .desc {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: 400;
    margin-top: 4px;
}

.std-popup .body {
    padding: 14px 45px 40px 45px;
    margin: 0 auto;
}

@media screen and (max-height: 700px) {
    .main-block-1 {
        height: 650px;
    }

    .main-block-1 .wrapper {
        padding-top: 200px;
        z-index: 1;
    }

    .main-block-1 .tags {
        margin-top: 120px;
    }
}

@media screen and (max-width: 1350px) {
    .wrapper {
    }

    .main-block-4 .col-l {
        padding: 55px 30px 10px 30px;
    }

    #footer .wrapper {
        padding-left: 400px;
    }

    #footer .about {
        position: absolute;
        left: 0;
        top: 35px;
        width: 375px;
    }

    .main-block-2 .menu .item .desc {
        font-size: 19px;
        height: 100px;
        padding-top: 18px;
    }

    .items-list.items-4 .item {
        width: 32%;
        margin-right: 2%;
    }

    .items-list.items-4 .item:nth-child(3n) {
        margin-right: 0;
    }

    .items-list.items-4 .item:nth-child(4n) {
        margin-right: 2%;
    }

    .header-block h1 {
        font-size: 40px;
        font-weight: 900;
        text-shadow: 0 2px 0 rgba(0,0,0,0.8);
    }
}