$btnColor1: #fcd828;
$background: #f7f7f7;
$colorDark: #000000;
$colorGray: #f4f4f4;
$colorRed: #ee4923;
$linkColor: #a77518;
//$linkColor: #f85a1e;
$imgDir: '/images/';
$fontCommon: 'Proxima Nova';
$fontHeader: 'Merriweather';
$borderImg: $imgDir + 'border.png';

body {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 10.5pt;
    font-weight: 300;
    color: #000;
    background: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 27px;
    font-weight: 900;
    font-style: italic;
    font-family: $fontHeader, Sarif;
    text-align: center;
    margin-bottom: 16px;
}

.std-header {
    margin-bottom: 40px;

    h2 {
        margin-bottom: 0;
    }

    .separ {
        position: relative;
        background: url($imgDir + 'header-icon.png') 50% 50% no-repeat;
        height: 29px;
        width: 400px;
        margin: 10px auto 0 auto;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            height: 1px;
            width: 162px;
            background: #3e3e3e;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }
}

.std-popup {
    background: #ffffff;
    width: 675px;

    .fancybox-close-small {
        top: 4px;
        right: 3px;
    }

    .header {
        position: relative;
        padding: 14px 45px;
        font-family: $fontHeader, serif;
        font-size: 19px;
        font-style: italic;
        background: #000;
        color: #ffffff;

        i {
            margin-right: 4px;
        }

        .header .desc {
            color: #7f7f7f;
            font-size: 13px;
            font-weight: 400;
            margin-top: 4px;
        }
    }

    .body {
        padding: 35px 40px 40px 40px;
        margin: 0 auto;
    }
}

h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 18px;
}

.block {
    padding: 0 75px;
}

.block.gray {
    background: #f6f8f9;
}

.fa-euro-sign,
.fa-ruble-sign {
    font-size: 75%;
}

.wrapper {
    position: relative;
    max-width: 1320px;
    min-width: 700px;
    margin: 0 auto;
}

.wide-wrapper {
    position: relative;
}

.panel {
    background: #ffffff;
    padding: 25px 30px;
}

#header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(32, 32, 32, 0.9);
    box-shadow: 0 0 15px rgba(21, 21, 21, 0.6);

    .wrapper {
        height: 68px;
        padding: 0 0 0 220px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 16px;
        background: url($imgDir + 'logo.png');
        width: 142px;
        height: 36px;
    }

    .nav {
        li {
            float: left;
            margin-right: 26px;

            a {
                position: relative;
                color: #ffffff;
                font-size: 16px;
                font-weight: 300;
                display: block;
                height: 68px;
                line-height: 68px;
                font-family: $fontHeader, serif;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 3px;
                    background: var(--color-1);
                    width: 0;
                    transition: all ease .3s;
                }

                &:before {
                    right: 50%;
                }

                &:after {
                    left: 50%;
                }
            }

            &:hover a:before,
            &:hover a:after {
                width: 50%;
            }
        }
    }

    .contacts {
        color: #ffffff;
        position: absolute;
        right: 0;
        top: 15px;
        font-size: 20px;
        text-align: right;

        .phone {
            font-size: 16px;
            font-weight: 600;
        }

        .email {
            font-size: 14px;
        }
    }

    .language {
        padding-right: 65px;
        position: absolute;
        top: 18px;
        right: 195px;
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 30px;

        .flags {
            position: absolute;
            right: 0;
            top: 0;
            width: 48px;
            height: 30px;
            background: #000000;
            overflow: hidden;
            transition: all ease .2s;

            &:hover {
                height: auto;
            }
        }

        .flag {
            cursor: pointer;
            width: 48px;
            height: 30px;
            margin-bottom: 5px;
            background: url($imgDir + 'flags2.png');

            &:last-child {
                margin-bottom: 0;
            }

            &.ru {
                background-position: 0 -33px;
            }

            &.de {
                background-position: 0 -66px;
            }
        }
    }
}

.header-block {
    position: relative;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;

    &, .wrapper {
        height: 400px;
    }

    * {
        position: relative;
    }

    .bg {
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .bg:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: url($imgDir + 'hb-shadow.png');
        width: 1686px;
        height: 224px;
    }

    .box {
        position: absolute;
        bottom: 20px;
        color: #ffffff;
    }

    h1 {
        font-size: 60px;
        font-weight: 900;
        text-shadow: 0 4px 0 rgba(0,0,0,0.8);
        margin-bottom: 0;
    }

    .desc {
        font-size: 25px;
        font-weight: 700;
        text-shadow: 0 2px 0 rgba(0,0,0,0.8);
    }
}

#container {
    /*background: #f5f5f5;*/
}

.main-block-1 {
    position: relative;
    /*background: url($imgDir + 'main-bg.jpg') 50% 50%;*/
    background: #000000;
    height: 850px;
}

.main-block-1 .video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.main-block-1 .video:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.45);
}

.main-block-1 .wrapper {
    padding-top: 250px;
    z-index: 1;
}

.main-block-1 h1 {
    text-shadow: 0 3px 0 #000;
    width: 770px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    font-family: $fontHeader, serif;
    font-style: italic;
}

.main-block-1 .menu {
    text-align: center;
    margin-top: 30px;
}

.main-block-1 .menu .btn {
    border-radius: 99px;
    font-size: 20px;
    padding: 0 30px 0 30px;
    color: #2e363e;
    font-weight: 400;
    margin: 0 6px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.9);
}

.main-block-1 .tags {
    margin: 180px auto 0 auto;
    max-width: 970px;
    height: 90px;
    overflow: hidden;
    text-align: center;
}

.main-block-1 .tags .btn {
    height: 35px;
    line-height: 35px;
    background: none;
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 99px;
    margin: 0 10px 20px 0;
}

.main-block-1 .tags .btn:hover {
    box-shadow: 0 0 5px rgba(245, 215, 110, 0.9);
    border-color: rgba(245, 215, 110, 0.9);
    color: #f5d76e;
}

.main-block {

}

.main-block .header {
    text-align: center;
    margin-bottom: 50px;
}

.main-block .header h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 8px;
    font-family: $fontHeader, Serif;
}

.main-block .header .notice{
    color: #696969;
    max-width: 600px;
    margin: 0 auto;
}
.main-block-2 {
    background: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 40px;
}

.main-block-2 .menu {

}

.main-block-2 .menu .item {
    overflow: hidden;
    position: relative;
    display: block;
    float: left;
    margin-left: 1.5%;
    width: 15.41%;
}

.main-block-2 .menu .item:after {
    content: '';
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.main-block-2 .menu .item .desc {
    position: absolute;
    z-index: 2;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 130px;
    border-top: 2px solid #fff;
    text-align: center;
    padding-top: 24px;
    font-family: $fontHeader, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 29px;
    color: #ffffff;
}

.main-block-2 .menu .item:first-child {
    margin-left: 0;
}
.main-block-2 .menu .item img {
    transition: all ease .2s;
}

.main-block-2 .menu .item:hover img {
    transform: scale(1.1);
}

.main-block-3 {
    position: relative;
}

.main-block-3 .notice {
    position: absolute;
    left: 25%;
    top: 40%;
    background: var(--color-1);
    padding: 20px;
    width: 660px;
    margin: -65px 0 0 -330px;
}

.main-block-3 .notice .title {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: $fontHeader, serif;
    font-style: italic;
}

.main-block-3 .notice .desc {
    font-size: 18px;
}

.main-block-4 .col-l,
.main-block-4 .col-r {
    float: left;
    width: 50%;
    height: 440px;
    position: relative;
}


.main-block-4 .col-l .lSAction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main-block-4 .lSAction .lSPrev,
.main-block-4 .lSAction .lSNext {
    position: absolute;
    top: 90px;
    background: url($imgDir + 'arrs.png') !important;
    width: 25px;
    height: 81px;
    cursor: pointer;
    display: block;
}

.main-block-4 .lSAction .lSPrev {
    //left: -60px;
}

.main-block-4 .lSAction .lSNext {
    background-position: -25px 0 !important;
    //right: -60px;
}

.main-block-4 .col-l {
    background: url($imgDir + 'mb4-bg.png') 50% 50%;
    color: #ffffff;
    text-align: center;
    padding: 55px 100px 10px 100px;
}

.main-block-4 .col-r {
    background: url($imgDir + 'main-bg.jpg') 50% 50%;
    background-size: cover;
}

.main-block-4 .header {
    display: inline-block;
    background: var(--color-1);
    margin-bottom: 22px;
    font-size: 36px;
    font-weight: 300;
    padding: 4px 4px;
    font-family: $fontHeader, serif;
    font-style: italic;
}

.main-block-4 .review {
    position: relative;
    padding: 0 30px;
    min-height: 255px;
}

.main-block-4 .name {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 6px;
}

.main-block-4 .stars {
    margin-bottom: 10px;
}

.main-block-4 .stars i {
    color: var(--color-1);
}

.main-block-4 .text {
    margin: 0 auto;
    max-width: 665px;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
}

.museum-map-info {
    width: 400px;
}

.museum-map-info .col-left {
    width: 125px;
    float: left;
}

.museum-map-info .col-right {
    margin-left: 135px;
}

.museum-map-info .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.museum-map-info .desc {
    font-size: 13px;
    margin-bottom: 10px;
}

.museum-map-info img {
    float: left;
    display: block;
    margin: 0 0 10px 0;
    width: 125px;
}

.museum-map-info .btns {
}

.museum-map-info .btn {
    height: 22px;
    padding: 0 6px;
    line-height: 22px;
    font-size: 13px;
}

.short-list {
    padding: 0 30px;
    position: relative;

    .nav {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -20px;
        width: 100%;
        height: 0;

        .prev, .next {
            cursor: pointer;
            width: 41px;
            height: 39px;
            position: absolute;
            top: 0;
            background: url($imgDir + 's-arr.png');
            transition: left ease .1s, right ease .1s;
        }

        .prev {
            left: -25px;

            &:hover {
                left: -32px;
            }
        }

        .next {
            transform: scaleX(-1);
            right: -25px;

            &:hover {
                right: -32px;
            }
        }
    }

    .item {
        display: block;
        padding-bottom: 20px;

        .name {
            font-family: $fontHeader, Sans-Serif;
            font-weight: 700;
            font-style: italic;
            font-size: 18px;
            margin-bottom: 8px;
            margin-top: 11px;
        }
    }
}

.items-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    .item {
        position: relative;
        max-width: 385px;
        flex: 0 30%;
        margin-bottom: 50px;

        .pic {
            display: block;
            overflow: hidden;
        }

        img {
            display: block;
            transition: all ease .4s;
        }

        &:hover img {
            transform: scale(1.1);
        }

        .info {
            position: relative;
            width: 100%;
            left: 0;
            top: -29px;
            margin-bottom: -29px;
            display: block;
            padding: 6px 15px;
            background: rgba(32, 32, 32, 0.9);
            color: #ffffff;

            .row {
                display: inline-block;
                margin-right: 10px;
                font-weight: 500;
                font-size: 14px;
            }
        }

        .desc {
            position: relative;
            /*box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15);*/
            background: #ffffff;
            padding: 20px 25px 80px 25px;
        }

        .name {
            display: block;
            overflow: hidden;
            font-size: 19px;
            font-weight: 700;
            height: 44px;
            margin-bottom: 5px;
        }

        .time  {
            position: absolute;
            right: 25px;
            top: 24px;
            font-size: 18px;
            font-weight: 700;

            i {
                margin-right: 5px;
            }
        }

        .preview  {
            overflow: hidden;
            height: 85px;
            color: #868686;
        }

        .order  {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;

            .btn {
                position: absolute;
                right: 0;
                width: 50%;
                height: 60px;
                line-height: 60px;
            }

            .duration {
                position: absolute;
                left: 25px;
                width: 50%;
                height: 60px;
                padding-top: 5px;
                font-size: 14px;

                div {
                    margin-top: 3px;
                    font-size: 15px;
                    font-weight: 600;

                    i {
                        margin-right: 3px;
                    }
                }
            }

            .price {
                position: absolute;
                left: 25px;
                width: 50%;
                height: 60px;
                padding-top: 5px;
                font-size: 14px;
            }

            .price span {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    &.items-3 .item {
        flex: 0 31%;
        margin-right: 1%;
        margin-left: 1%;
    }

    &.items-4 .item {
        flex: 0 22.5%;
        margin-right: 1%;
        margin-left: 1%;
    }
}

.transports-list {
    .item {
        .name {
            height: 30px;
        }

        .row {
            padding: 5px 0;
            border-bottom: 1px solid #ededed;
            color: #545454;

            &:last-child {
                border-bottom: none;
            }
        }

        .desc {
            padding-bottom: 20px;
        }
    }
}

.module-items-block {
    background: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 80px;

    &.sidebar-aware {
        .container {
            padding-left: 345px;
        }

        .col-left {
            width: 325px;
            margin-left: -345px;
            float: left;
        }

        .col-right {
            width: 100%;
            float: left;
        }

        .sidebar {
            background: #ffffff;
            /*padding-bottom: 40px;
            padding-top: 24px;*/
        }

        .widget {
            &.search {
                position: relative;
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 20px;
                margin-top: 20px;

                input {
                    padding-left: 35px;
                    height: 33px;
                    border: none;
                    border-bottom: 1px solid #000;
                    background: none;
                    font-size: 16px;
                    width: 100%;
                }

                i {
                    position: absolute;
                    top: 4px;
                    font-size: 20px;
                }
            }

            label {
                margin-bottom: 7px;
                font-size: 14px;
            }

            .h-box {
                display: none;
            }

            .show-all {
                color: #006ecc;
                cursor: pointer;
            }

            &.catalog a {
                display: block;
                color: $linkColor;
                margin-bottom: 10px;
                font-size: 15px;

                span {
                    color: #434343;
                }
            }

            &.menu {
                .btn {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.museums-list {
    .item .desc {
        padding-bottom: 25px;
    }
}

.widget .calc {
    .header {
        font-family: $fontHeader, Serif;
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    .row {
        position: relative;
        border-bottom: 2px solid #000;
        margin-bottom: 14px;

        i {
            position: absolute;
            left: 0;
            top: 9px;
            font-size: 17px;
        }

        .errors {
            display: none;
        }
    }

    select, input {
        height: 38px;
        padding-left: 27px;
        font-size: 15px;
        border: none;
        background: #ffffff;
    }

    input::placeholder {
        color: #000;
        font-weight: 300;
    }
}

.about-block {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
}

.about-block .col-l {
    flex: 0 300px;
    text-align: center;
    margin-right: 40px;
}

.about-block .col-r {
    flex: 1;
}

.about-block .link {
    margin-top: 10px;
    text-align: center;
}

.std-container-right {
    padding-right: 350px;
}

.std-container-right .col-l {
    float: left;
}

.std-container-right .col-r {
    float: right;
    width: 295px;
    margin-right: -330px;
}

.museum-block {
    padding-bottom: 80px;
}

.desc-box {
    margin-bottom: 60px;
}

.module-item-block .menu {
    background: #f6f8f9;
    margin: 0 -50px 30px -50px;
    height: 65px;

    .item {
        height: 65px;
        line-height: 65px;
        padding: 0 45px;
        border-left: 1px solid #d2d2d2;
        float: left;
        transition: all ease .2s;
        font-size: 16px;
        font-weight: 300;

        &:last-child {
            border-right: 1px solid #d2d2d2;
        }

        &:first-child {
            border-left: none;
        }

        &.active {
            background: #ffffff;
            border: none
        }

        &.active + .item {
            border-left: none;
        }

        i {
            margin-right: 8px;
        }
    }
}

.module-item-block .desc-box h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.sidebar {
    flex: 0 295px;

    .widget {
        background: #ffffff;
        padding: 20px;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        .header {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 16px;
        }
    }
}

.content-block {
    .std-header {
        margin-top: 33px;
        margin-bottom: 15px;
    }

    .images-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .wide, .narrow {
            margin-bottom: 20px;
        }

        .wide {
            flex: 1 100%;
        }

        .narrow {
            flex: 1 calc(50% - 10px);

            & + .narrow {
                margin-left: 20px;
            }
        }
    }
}

.module-item-block {
    display: flex;
    padding-bottom: 60px;

    .gallery {
        margin-bottom: 50px;
    }

    .content {
        overflow-y: hidden;
        background: #ffffff;
        padding: 0 50px 50px 50px;
        flex: 1;
        margin-top: 30px;
        padding-top: 40px;
    }


    .sidebar {
        flex: 0 295px;
        margin-top: 30px;
        margin-left: 30px;

        .widget {
            background: #ffffff;
            padding: 20px;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            .header {
                font-family: $fontHeader, Sans-Serif;
                font-size: 21px;
                font-style: italic;
                font-weight: 700;
                margin-bottom: 16px;
                text-align: center;
            }

            &.reco {
                .item {
                    /*background: url($borderImg) 0 100% repeat-x;*/
                    padding-bottom: 14px;
                    margin-bottom: 15px;
                    display: block;

                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        background: none;
                    }

                    .pic {
                        margin-bottom: 9px;
                    }

                    .name {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .info {
                        min-height: 16px;
                        position: relative;

                        .readmore {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            font-size: 14px;
                            color: $linkColor;
                        }
                    }
                }
            }
        }
    }

    &.menu-aware {
        .content {
            margin-top: 0;
            padding-top: 0;
        }

        .sidebar {
            margin-top: 65px;
        }
    }

    .common-form {
        background: #ffffff;

        .header {
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 16px;
        }

        .element select,
        .element input {
            background: #f0f0f0;
            height: 35px;
            padding: 0 12px;
        }

        .btns {
            margin-top: 20px;
        }

        .btns .btn {
            width: 100%;
        }

        .price-box {
            text-align: center;
        }

        .price-box .price {
            font-size: 21px;
            font-weight: 700;
        }

        .price-box .notice {
            font-size: 13px;
        }
    }
}

.excursion-block{
    .sidebar {
        margin-top: 65px;
    }

    .attrs-list {
        margin-bottom: 45px;
        margin-top: 50px;
        a {
            color: #f85a1e;
        }

        & > .row {
            position: relative;
            padding: 27px 0 27px 305px;
            background: url($imgDir + 'border.png') 0 100% repeat-x;
            color: #595959;
            font-size: 16px;
            font-weight: 300;
        }

        & > .row:first-child {
            background: url($imgDir + 'border.png') 0 100% repeat-x, url($imgDir + 'border.png') 0 0 repeat-x;
        }

        .label {
            position: absolute;
            left: 0;
            width: 330px;
            font-size: 17px;
            font-weight: 700;
            color: #000000;
        }

        .row .row {
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 4px;
        }

        .row .row i {
            color: #000;
            font-size: 15px;
            margin-right: 6px;
        }
    }

    .plan .day {
        display: flex;

        &:last-child .stage {
            background: none;
        }

        .stage {
            flex: 0 37px;
            margin-right: 28px;
            background: url($imgDir + 'border-v.png') 50% 39px repeat-y;
        }

        .stage .icon {
            border-radius: 50%;
            background: #fce12a;
            font-size: 19px;
            text-align: center;
            vertical-align: 37px;
            width: 37px;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .desc {
            flex: 1;
            padding-bottom: 30px;

            .header {
                font-size: 21px;
                font-weight: 300;
                margin-bottom: 10px;
                padding-top: 3px;
                padding-left: 15px;
            }

            .text {
                padding: 12px 20px;
                background: #f4f4f4;
                width: 100%;
                display: block;

                a {
                    font-weight: 600;
                    color: $linkColor;
                }

                p {
                    margin-bottom: 4px;
                }
            }
        }
    }
}

.transport-block {
    padding-top: 40px;

    .content {
        padding-top: 30px;
    }

    .attrs-list {
        max-width: 700px;
        background: $colorGray;
        margin: 45px auto 60px auto;
        padding: 20px 35px;

        .row {
            line-height: 50px;
            background: url($imgDir + 'border.png') 0 100% repeat-x;
            font-size: 16px;

            &:last-child {
                background: none;
            }

            i:first-child {
                width: 23px;
            }
        }
    }
}

.module-item-block-ajax {
    .gallery {
        margin-bottom: 25px;
    }
}

.transport-block-ajax {
    .attrs-list {
        max-width: 700px;
        background: $colorGray;
        margin: 35px auto 0 auto;
        padding: 20px 35px;

        .row {
            line-height: 50px;
            background: url($imgDir + 'border.png') 0 100% repeat-x;
            font-size: 16px;

            &:last-child {
                background: none;
            }

            i:first-child {
                width: 23px;
            }
        }
    }
}

.empty-list {
    margin: 30px 0 60px 0;
    color: #595959;
    font-size: 15px;
}

.comments {
    .add-question {
        background: $colorGray;
        margin-bottom: 20px;

        .btn {
            height: 40px;
            line-height: 40px;
        }
    }

    .comment {
        position: relative;
        padding-left: 160px;
        padding-top: 30px;
        padding-bottom: 40px;
        background: url($imgDir + 'border.png') 0 0 repeat-x;

        .info {
            position: absolute;
            left: 0;
            top: 30px;
            width: 150px;

            .name {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 6px;
            }

            .date {
                font-size: 14px;
                font-style: italic;
                font-weight: 300;
                color: #f85a1e;
            }
        }

        &:first-child {
            padding-top: 15px;
            background: none;

            .info {
                top: 15px;
            }
        }

        .question {
            font-size: 14px;
            /*color: #525252;*/
        }

        .answer {
            margin-top: 14px;
            font-size: 15px;
            color: #000000;
            padding-left: 20px;
            .admin {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 5px;
            }
        }
    }
}

.comments-popup {
    width: 425px;

    .btns {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .btn {
            margin-right: 10px;
        }
    }

    .rules {
        padding-top: 15px;
        margin-top: 30px;
        border-top: 1px solid #979797;
        font-size: 13px;

        span {
            color: $colorRed;
        }
    }
}

.std-text {
    font-size: 15px;
}

.std-text p,
.std-text li {
    line-height: 1.6;
    font-size: 16px;
    color: #2f2f2f;
    font-weight: 300;
}

.std-text p {
    line-height: 1.6;
    margin-bottom: 16px;
}

.std-text ul {
    margin-bottom: 18px;
}

.std-text ul li {
    position: relative;
    padding-left: 17px;
    margin-bottom: 7px;
}

.std-text ul li:before {
    content: '';
    display: block;
    background: var(--color-1);
    position: absolute;
    left: 2px;
    top: 9px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.common-form {
        padding: 20px;

    .row {
        margin-bottom: 12px;
    }

    /*.label {
        margin-bottom: 6px;
        color: #3c3c3c;
    }*/

    /*.element {
        color: #000;
        background: #ffffff;

        .datepicker {
            background-image: url($imgDir + 'calendar.png');
            background-repeat: no-repeat;
            background-position: 93% 50%;
        }

        &.invalid select,
        &.invalid input {
            background: #ffe0d7;
        }

        .errors {
            display: none;
        }

        select, input {
            height: 30px;
            width: 100%;
            background: none;
            border: none;
            padding: 0 8px;
            font-size: 15px;
        }

        &.std-counter {
            height: 100%;
            padding: 0;
            background: #ffffff;
        }
    }*/
}

.std-breadcrumbs {
    margin-bottom: 10px;
}

.std-breadcrumbs .item {
    position: relative;
    display: inline-block;
}

.std-breadcrumbs .item span,
.std-breadcrumbs .item a {
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}
/*
.std-breadcrumbs .item:last-child > span {
    color: #a3aaae;
}
*/
.std-breadcrumbs .sep {
    display: inline-block;
    margin: 0 10px;
}

#footer {
    background: #181818;
    color: #ffffff;
}

#footer .wide-wrapper {
    padding: 50px 360px 60px 595px;
}

#footer .about {
    position: absolute;
    left: 0;
    top: 35px;
    width: 435px;
}

#footer .logo {
    display: block;
    background: url($imgDir + 'logo.png');
    width: 142px;
    height: 36px;
    margin-bottom: 30px;
}

#footer .desc {
    color: #bdbdbd;
}

#footer .menu {

}

#footer .menu ul {
    float: left;
    margin-right: 125px;
}

#footer .menu li.title {
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 16px;
}

#footer .menu li {
    margin-bottom: 6px;
}

#footer .menu a {
    color: #bdbdbd;
}

#footer .contacts {
    position: absolute;
    right: 0;
    top: 65px;
    width: 345px;
}

#footer .contacts .row {
    padding-left: 35px;
    position: relative;
    margin-bottom: 15px;
    color: #bdbdbd;
}

#footer .contacts .row i {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-1);
}

@media screen and (max-height: 700px) {
    .main-block-1 {
        height: 650px;
    }

    .main-block-1 .wrapper {
        padding-top: 200px;
        z-index: 1;
    }

    .main-block-1 .tags {
        margin-top: 120px;
    }
}

@media screen and (max-width: 1350px) {
    .wrapper {
    }

    .main-block-4 .col-l {
        padding: 55px 30px 10px 30px;
    }

    #footer .wrapper {
        padding-left: 400px;
    }

    #footer .about {
        position: absolute;
        left: 0;
        top: 35px;
        width: 375px;
    }

    .main-block-2 .menu .item .desc {
        font-size: 19px;
        height: 100px;
        padding-top: 18px;
    }

    .items-list.items-4 .item {
        width: 32%;
        margin-right: 2%;
    }

    .items-list.items-4 .item:nth-child(3n) {
        margin-right: 0;
    }

    .items-list.items-4 .item:nth-child(4n) {
        margin-right: 2%;
    }

    .header-block h1 {
        font-size: 40px;
        font-weight: 900;
        text-shadow: 0 2px 0 rgba(0,0,0,0.8);
    }
}