.excursion-items {
    .item {
        .season {
            position: absolute;
            top: -40px;
            background: #b6f1b4;
            color: #000;
            font-size: 15px;
            font-weight: 400;
            border-radius: 4px;
            padding: 6px 10px;
        }
    }
}

.excursion-block{
    .sidebar {
        .excursion-form {
        }
    }

    .season {
        padding: 15px 20px;
        background: #b6f1b4;
        margin-bottom: 26px;
        border-radius: 5px;

        .title {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 8px;
        }

        .desc {
            font-size: 14px;
        }
    }

    .attrs-list {
        margin-top: 40px;
        margin-bottom: 40px;

        a {
            color: $linkColor1;
        }

        & > .row {
            position: relative;
            margin-bottom: 14px;
            font-size: 16px;
            color: $fontColor2;
            padding-left: 38px;

            i {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 20px;
                color: $linkColor1;
                width: 20px;
                text-align: center;
                display: inline-block;
            }

            .sub {
                padding: 8px 0 0 8px;

                .row {
                    margin-bottom: 6px;
                    font-size: 14px;
                }
            }
        }
    }

    .plan {
        margin-bottom: 50px;
    }

    .short-list {
        margin-bottom: 30px;
    }

    .plan .day {
        display: flex;

        &:last-child .stage {
            background: none;
        }

        .stage {
            flex: 0 37px;
            margin-right: 28px;
            background: url($imgDir + 'border-v.png') 50% 39px repeat-y;
        }

        .stage .icon {
            border-radius: 50%;
            background: $linkColor1;
            color: #ffffff;
            font-size: 17px;
            text-align: center;
            vertical-align: 37px;
            width: 37px;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .desc {
            flex: 1;
            padding-bottom: 10px;

            .header {
                font-size: 16px;
                color: $fontColor1;
                font-weight: 400;
                margin-bottom: 10px;
                padding-top: 8px;
            }

            .text {
                padding: 12px 25px;
                margin-bottom: 10px;
                width: 100%;
                display: block;

                a {
                    color: $linkColor1;
                }

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}