body {
    font-family: $fontCommon, sans-serif;
    font-size: 10.5pt;
    font-weight: 300;
	color: #000000;
    background: #ffffff;
}

h1 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 14px;
}

a {
	text-decoration: none;
	color: #333333;
}

.block {
    padding: 0 15px;

    &.white {
        background: #ffffff;
    }

    &.gray {
        background: $background;
    }
}

.panel {
    margin-bottom: 32px;
    box-shadow: 0 2px 30px rgba(0,0,0,.15);
    background: #ffffff;
    padding-top: 16px;
    padding-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 70px;
    }
}

.panel2 {
    position: relative;
    padding: 10px 15px;
    background: $baseColor4;

    .text {
        line-height: 1.5;
    }

    .contacts {
        margin-top: 20px;

        .item {
            display: inline-block;
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 400;

            &:last-child {
                margin-right: 0;
            }

            i {
                color: $linkColor1;
                font-size: 16px;
                margin-right: 7px;
            }
        }
    }
}

h1.block {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
}

h2 {
    font-size: 22px;
    margin-bottom: 14px;
    font-family: $fontHeader, Serif;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.fa-euro-sign,
.fa-ruble-sign {
    font-size: 90%;
}

.iframe-box {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.iframe-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tabs {
    .tabs-header .tab {
        float: left;
    }

    .tabs-body {
        .tab {
            display: none;
        }

        .tab.active {
            display: block;
        }
    }
}

.items-list {
    .item {
        overflow: hidden;
        display: block;
        position: relative;
        max-width: 385px;
        flex: 0 30%;
        margin-bottom: 20px;
        transition: all ease .4s;
        box-shadow: 0 5px 25px 0 rgba(37, 46, 89, 0.13);

        &:hover {

        }

        .pic {
            display: block;
            overflow: hidden;
        }

        img {
            display: block;
            transition: all ease .4s;
        }

        &:hover img {
            transform: scale(1.1);
        }

        .info {
            position: relative;
            background: #ffffff;
            padding: 14px 15px;

            * {
                position: relative;
                z-index: 10;
            }

            .season {
                position: absolute;
                top: -40px;
                background: #b6f1b4;
                color: #000;
                font-size: 15px;
                font-weight: 400;
                border-radius: 4px;
                padding: 6px 10px;
            }

            .name {
                font-size: 17px;
                line-height: 1.4;
                overflow: hidden;
                margin-bottom: 6px;
                font-weight: 400;
            }

            .price {
                font-size: 13px;
                color: $fontColor2;

                span {
                    font-size: 17px;
                    color: $linkColor1;
                }
            }

            .desc {
                margin-top: 10px;
                height: 85px;
                overflow: hidden;
                color: $fontColor2;
                line-height: 1.5;
            }

            .props .row {
                padding: 3px 0;
                border-bottom: 1px solid #ededed;
                color: #545454;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 62px;
    background: #000;
    text-align: center;

    .logo {
        display: inline-block;
        background: url($imgDir + '/logo.png') no-repeat;
        height: 31px;
        padding-left: 40px;
        font-size: 23px;
        color: #ffffff;
        margin-top: 15px;

        span {
            font-weight: 400;
            color: #ffd326;
        }
    }

    .language {
        position: absolute;
        right: 21px;
        top: 14px;

        .flags {
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px;
            width: 46px;
            height: 29px;
            background: #000000;
            overflow: hidden;

            &:hover {
                height: auto;
                background: white;
                box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);
            }

            .flag {
                cursor: pointer;
                width: 36px;
                height: 24px;
                margin-bottom: 5px;
                background: url($imgDir + 'flags.png');
                background-size: cover;

                &:last-child {
                    margin-bottom: 0;
                }

                &.ru {
                    background-position: 0 -24px;
                }

                &.de {
                    background-position: 0 -48px;
                }
            }
        }
    }

    .nav {
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        color: #ffffff;

        a {
            color: #ffffff;
        }

        .trigger {
            position: absolute;
            width: 62px;
            height: 62px;
            cursor: pointer;

            .icon {
                width: 27px;
                height: 18px;
                position: absolute;
                left: 20px;
                top: 21px;

                span {
                    position: absolute;
                    left: 0;
                    display: block;
                    background: #fff;
                    width: 100%;
                    height: 1px;
                    transition: all ease .2s;
                }

                span:nth-child(1) {
                    top: 0;
                }

                span:nth-child(2) {
                    top: 45%;
                }

                span:nth-child(3) {
                    bottom: 0;
                }
            }
        }

        .outer {
            z-index: 300;
            position: absolute;
            left: 0;
            top: 62px;
            width: 0;
            transition: opacity ease .3s;
            overflow: hidden;
            opacity: 0;
        }

        &.open .outer {
            opacity: 1;
        }

        .shadow {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
        }

        .box {
            padding: 10px 20px;
            position: absolute;
            left: -90%;
            top: 0;
            width: 90%;
            height: 100%;
            background: #1d1d1d;
            transition: all ease .3s;
            overflow: hidden;
            opacity: 1;
        }

        .search input {
            height: 45px;
            padding: 0 15px 0 35px;
            width: 100%;
            display: block;
            border: none;
            background: url($imgDir + 'search-w.svg') 5px 50% no-repeat;
            background-size: 22px;
            color: #ffffff;
            font-size: 15px;
            font-weight: 200;
            border-bottom: 1px solid #6c6c6c;

            &::placeholder {
                color: #fff;
            }
        }

        .menu {
            position: relative;
            overflow: scroll;

            ul {
                position: relative;
                right: 0;
                transition: all ease .3s;
            }

            li {
                font-size: 16px;
                border-bottom: 1px solid #6c6c6c;
                transition: all ease .3s;

                span, a {
                    font-size: 14px;
                    height: 47px;
                    line-height: 47px;
                    display: block;
                    padding: 0 5px;
                    color: #ffffff;

                    i {
                        margin-right: 6px;
                    }
                }

                & > ul {
                    width: 100%;
                    position: absolute;
                    right: -100%;
                    top: 0;
                    opacity: 0;
                    background: #1d1d1d;

                    li a {
                        height: 30px;
                        line-height: 30px;
                    }
                }

                & > ul ul {
                    z-index: 20;
                }

                ul.open {
                    right: 30%;
                }

                &.open > ul {
                    z-index: 10;
                    right: 0;
                    display: block;
                    opacity: 100;
                }

                &.open > ul.open {
                    right: 0;
                }
            }
        }

        .contacts {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px;

            .row {
                position: relative;
                font-size: 13px;
                margin-top: 2px;
                padding-left: 25px;

                i {
                    position: absolute;
                    left: 0;
                    color: $linkColor1;
                }

                a {
                    color: #dedede;
                }
            }
        }

        &.open {
            .box {
                left: 0;
            }

            .trigger .icon span:nth-child(2) {
                display: none;
            }

            .trigger .icon span:nth-child(1) {
                transform: rotate(45deg);
                top: 9px;
            }

            .trigger .icon span:nth-child(3) {
                transform: rotate(-45deg);
                bottom: 8px;
            }
        }
    }
}

#container {
    padding-top: 62px;
    background: $background;
}

.main-block-1 {
    position: relative;
    background: url($imgDir + 'main-bg.jpg') 50% 50%;
    background-size: cover;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 0;
    }

    * {
        position: relative;
    }

    h1 {
        font-size: 23px;
        text-align: center;
        color: #ffffff;
        white-space: pre-wrap;
        font-weight: 200;
    }

    .menu {
        margin: 40px auto 35px auto;
        width: 175px;

        li {
            margin-bottom: 14px;
        }

        .btn {
            border-radius: 99px;
            width: 100%;
            height: 55px;
            line-height: 55px;
            font-size: 17px;
            font-weight: 400;
        }
    }

    .about {
        font-size: 16px;
        font-weight: 300;
        text-decoration: underline;
        color: #ffffff;
    }
}

.widget .calc {
    .header {
        font-family: $fontHeader, Serif;
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    .row {
        position: relative;
        margin-bottom: 14px;

        i {
            position: absolute;
            left: 15px;
            bottom: 15px;
            font-size: 17px;
            color: $linkColor1;
        }

        .errors {
            display: none;
        }
    }

    select, input {
        height: 45px;
        padding-left: 45px;
        font-size: 15px;
        border: none;
        background: #f5f5f5;
    }

    input::placeholder {
        color: #000;
        font-weight: 300;
    }

    .row .errors {
        display: none;
    }
}

.module-item-block {
    background: #ffffff;
    padding-top: 14px;

    .menu {
        position: fixed;
        z-index: 20;
        top: 62px;
        left: 0;
        width: 100%;
        background: $background;
        display: flex;

        &.shadow {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        }
        
        .item {
            display: block;
            border-right: 1px solid #ffffff;
            height: 38px;
            line-height: 38px;
            font-size: 15px;
            font-weight: 600;
            @extend .block;
            transition: all ease .2s;

            &:last-child {
                border-right: none;
            }

            &.active {
                background: #ffd526;
            }
        }
    }

    h1 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 14px;
    }

    .gallery {
        margin-bottom: 12px;
    }

}

.empty-list {
    margin: 30px 0 60px 0;
    color: #595959;
    font-size: 15px;
}

.comments {
    .header {
        text-align: center;
        margin-bottom: 20px;

        h2 {
            margin-bottom: 10px;
        }

        .desc {
            color: $fontColor2;
            font-size: 13px;
            margin-bottom: 8px;

            a {
                color: $linkColor1;
            }
        }

        .btn {
            line-height: 38px;
            height: 38px;
        }
    }

    .comment {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid $borderColor;

        .info {
            margin-bottom: 8px;

            .name {
                font-size: 17px;
                display: inline-block;
                margin-right: 14px;
                font-family: $fontHeader1;
            }

            .date {
                font-size: 13px;
                text-transform: uppercase;
                font-style: italic;
                color: $linkColor1;
                display: inline-block;
            }
        }

        .question, .answer {
            color: $fontColor2;
        }

        .question {
            font-size: 14px;
        }

        .answer {
            margin-top: 14px;
            padding-left: 20px;

            .admin {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 5px;
                color: #000000;
            }
        }
    }
}

.info-block {
    display: flex;
    background: $btnColor1;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;

    .icon {
        line-height: 1.2;
        flex: 0 34px;
        height: 34px;
        margin-right: 10px;
        background: url($imgDir + 'info.svg');
        background-size: cover;
    }

    .text {
        flex: 1;

    }
}

.comments-popup {
    .btns {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .btn {
            margin-right: 10px;
        }

        .notice {
            font-size: 13px;
        }
    }

    .rules {
        padding-top: 15px;
        margin-top: 30px;
        border-top: 1px solid #979797;
        font-size: 13px;

        span {
            color: $colorRed;
        }
    }
}

.std-text {
    h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }

    h3 {
        font-size: 21px;
        margin-bottom: 12px;
    }

    p,
    li {
        font-size: 15px;
        color: #555555;
    }

    p {
        line-height: 1.6;
        margin-bottom: 16px;
    }

    ul {
        margin-bottom: 18px;
    }

    ul li {
        position: relative;
        padding-left: 17px;
        margin-bottom: 7px;
    }

    ul li:before {
        content: '';
        display: block;
        background: #ffbf3f;
        position: absolute;
        left: 2px;
        top: 6px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
    }
}

.about-block {
    .certificate {
        text-align: center;
    }
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    .call {
        display: block;
        position: absolute;
        right: 22px;
        bottom: 19px;
        background: $baseColor1;
        align-items: center;
        height: 55px;
        width: 55px;
        line-height: 58px;
        font-weight: 400;
        text-align: center;
        border-radius: 50%;
        font-size: 25px;
        box-shadow: 0 0 15px #00000036;
    }
}

.content-block {
    .images-list {
        margin-bottom: 40px;

        .wide, .narrow {
            margin-bottom: 10px;
        }
    }
}

.std-popup {
    background: #ffffff;

    .fancybox-close-small {
        top: 4px;
        right: 3px;
    }

    .header {
        position: relative;
        padding: 14px 45px 14px 25px;
        font-family: $fontHeader, serif;
        font-size: 19px;
        font-style: italic;
        background: #000;
        color: #ffffff;

        i {
            margin-right: 4px;
        }

        .header .desc {
            color: #7f7f7f;
            font-size: 13px;
            font-weight: 400;
            margin-top: 4px;
        }
    }

    .body {
        padding: 25px 25px 25px 30px;
        margin: 0 auto;
    }
}

.ui-datepicker {
    z-index: 9999 !important
}

@media screen and (max-height: 600px) {
    #header .nav .search input,
    #header .nav .menu li span,
    #header .nav .menu li a {
        height: 44px;
        line-height: 44px;
    }
}

@media screen and (max-height: 570px) {
    #header .nav .search input,
    #header .nav .menu li span,
    #header .nav .menu li a {
        height: 40px;
        line-height: 40px;
    }
}

@media screen and (max-height: 540px) {
    #header .nav .search input,
    #header .nav .menu li span,
    #header .nav .menu li a {
        height: 37px;
        line-height: 37px;
    }
}

@media screen and (max-height: 500px) {
    #header .nav .search input,
    #header .nav .menu li span,
    #header .nav .menu li a {
        height: 35px;
        line-height: 35px;
    }
}